<!DOCTYPE html>
<html>
<head>
  <title>NfgOpenid</title>
  <%= stylesheet_link_tag    "nfg_openid/application", media: "all" %>
  <%= javascript_include_tag "nfg_openid/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
