<!DOCTYPE html>
<html>
<head>
  <title>SsoOpenid</title>
  <%= stylesheet_link_tag    "sso_openid/application", media: "all" %>
  <%= javascript_include_tag "sso_openid/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
